body {
  margin: 0;
  font-family: inherit;
  background: #fefefe;
  color: #333;
  scroll-behavior: smooth;
}

.section {
  padding: 80px 20px;
  min-height: 100vh;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.section-title {
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
  color: var(--primary-color); /* same color as buttons/navbar */
}
